<?xml version="1.0" encoding="UTF-8" ?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config"
               xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xsi:schemaLocation="http://logging.apache.org/log4j/2.0/config Log4j-config.xsd"
               status="warn" monitorInterval="5"
               >
    <Appenders>

        <Console name="Console" target="SYSTEM_OUT">
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%style{%d{yyyy-MM-dd HH:mm:ss.SSS}}{white} %style{%-5level}{magenta} %style{[%t]}{bright,yellow} %style{%c}{bright,cyan}:%style{%M(%L)}{green}: %msg%n" disableAnsi="false" />
        </Console>

        <RollingFile name="rollingFile"
                     filePattern="logs/a_$${date:yyyy-MM-dd}_YXPT_10001_pageExposure_00_%i.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB" />
            </Policies>

        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console" />
            <AppenderRef ref="rollingFile"/>
        </Root>
    </Loggers>
</Configuration>